<!DOCTYPE html>
<html>
<head>
  <title>Mayodon webapp</title>
  <%= stylesheet_link_tag    "mayodon/webapp/application", media: "all" %>
  <%= javascript_include_tag "mayodon/webapp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
